@import "../../scss/variable";
@import "../../scss/mixin";

.navbar {
  background-color: $cardNavBgColor;

  display: flex;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;
    color: white;
    padding: 1rem;

    &:hover {
      background-color: $backgraundColor;
      color: $cardNavBgColor;
    }
  }
}

@include media-xsm {
  .navbar {
    flex-direction: column;
    text-align: center;
  }
}

@include media-md {
  .navbar {
    flex-direction: row;
  }
}
