/* Color Theme Swatches in Hex */
$lightPink: #fcb1a7;
$lightOrange: #ffdacc;
$Paleta-1-3-hex: #ffeee6;
$Paleta-1-4-hex: #aecfba;
$Paleta-1-5-hex: #83af93;

$backgraundColor: rgb(41, 39, 39);
$cardNavBgColor: rgb(55, 134, 134);
